<p>Respected Jury,</p>
</br>
<p>We have received a request to re-evaluate a registration. Please find the details below:</p>
<p>Registration ID: {{registrationId}}</p>
<p>Flagship Name: {{flagshipName}}</p>
<p>Musafir Name: {{name}}</p>
<p>Musafir Email: {{email}}</p>
<p>Musafir Number: {{musafirNumber}}</p>
<p>Musafir City: {{city}}</p>

<p>Best regards,</p>
<p>The 3Musafir Team</p>
