<p>Respected Admin,</p>
</br>
<p>We have received a trip query from a user. Please find the details below:</p>
<p>Flagship ID: {{flagshipId}}</p>
<p>Flagship Name: {{flagshipName}}</p>
<p>Musafir Name: {{name}}</p>
<p>Musafir Email: {{email}}</p>
<p>Musafir Number: {{musafirNumber}}</p>
<p>Musafir City: {{city}}</p>
<p>Trip Query: {{tripQuery}}</p>
</br>
<p>Best regards,</p>
<p>The 3Musafir Team</p>
